*_aux
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.log
*.out
*.vtc
_build
/lipics/lipics-v2019-authors-guidelines.pdf
/lipics/lipics-v2019-sample-article.bib
/lipics/lipics-v2019-sample-article.pdf
/lipics/lipics-v2019-sample-article.tex
/lipics/CHANGELOG.md
/lipics/LICENSE.md
/medium.bib

